@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

.container {
  display:inline-block;
  background-color: rgba(230,246,254,1);
  border-bottom: 3px solid rgba(159,217,246,1);
  margin: 10px;
  transition: transform 100ms ease;
}

.container:hover {
  transform: scale(1.1);
}

.Card {
  width: 200px;
  height: 300px;
  display: grid;
  grid-template-rows: auto;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.Card_Box {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;

}
p {
  font-family: 'Jura', sans-serif;
}

h2 {
  font-family: 'Jura', sans-serif;
}
